# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out

# Turbo
.turbo

# Environment
.env
.env.local
.env.*.local

# Expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
android/app/build
ios/Pods

# EAS
google-service-account.json

# Misc
.DS_Store
*.log
coverage
